<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myplant.mapper.MyPlantMapper">

	<insert id="insertMyPlant" parameterType="MyPlant">
		<selectKey keyProperty="plant_idx" resultType="int" order="BEFORE">
			select myplant_seq.nextval from dual
		</selectKey>
		insert into myplant(plant_idx, midx, oidx, nickname, plantImage, percent, pcomment, pdate)
		values(#{plant_idx}, #{midx}, #{oidx}, #{nickname:VARCHAR}, #{plantImage},
		#{percent}, #{pcomment:VARCHAR}, sysdate)
	</insert>
	
	<insert id="insertImage" parameterType="MyPlantI">
		<selectKey keyProperty="image_pidx" resultType="int" order="BEFORE">
			select myplant_image_seq.nextval from dual
		</selectKey>
		insert into myplant_image(image_pidx,pimage,pidate,plant_idx)
		values(#{image_pidx},#{pimage},sysdate,#{plant_idx})
	</insert>
	
	<select id="selectAllMyPlant" resultType="MyPlant">
		select * from myplant
	</select>
	
	<select id="getPlantImages" parameterType="int" resultType="MyPlantI">
		select * from myplant_image where plant_idx=#{value} order by pidate desc
	</select>
	
	<update id="updateMyPlant" parameterType="PlantForm">
		update myplant set pcomment=#{pcomment}, plantimage=#{plantImageStr}, percent=#{percent}
		where plant_idx=#{plant_idx}
	</update>
	
	<select id="getMyPlantList" parameterType="int" resultType="MyPlant">
		select * from myplant where midx=#{value}  order by pdate desc
	</select>
	
	<select id="getMyPlantDetail" parameterType="int" resultType="MyPlant">
		select * from myplant where plant_idx=#{value}
	</select>

</mapper>