<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.QNAMapper">
	<insert id="insertQNA" parameterType="QNA">
	<selectKey keyProperty="qidx" order="BEFORE" resultType="int" >
		select board_qna_seq.nextval from dual
	</selectKey>
	insert into board_qna(qidx, pidx, midx, qcontent, secret, qdate)
	values(#{qidx},#{pidx},#{midx},#{qcontent},#{secret}, sysdate)
	</insert>
	
	<insert id="insertQNA_Re" parameterType="QNARe">
	<selectKey keyProperty="re_qidx" order="BEFORE" resultType="int" >
		select board_qna_comment_seq.nextval from dual
	</selectKey>
	insert into re_board_qna(re_qidx, qidx, midx, re_qcontent, re_qdate)
	values(#{re_qidx}, #{qidx}, #{midx}, #{re_qcontent}, sysdate)
	</insert>
	
	<select id="getQNAListByMidx" parameterType="int" resultType="QNA">
		select b.*, m.email 
		from board_qna b join member m on b.midx=m.midx 
		where b.midx=#{value}
	</select>
	
	<select id="getQNAReListByQidx" parameterType="int" resultType="QNARe">
		select * 
		from re_board_qna 
		where qidx=#{value}
	</select>
	
	<select id="getQNAListByPidx" parameterType="int" resultType="QNA">
		select * 
		from board_qna
		where pidx=#{value}
	</select>
	
	<select id="getQNAList" parameterType="BoardPaging" resultType="QNA">
		select * from(
				select row_number() over(order by qidx desc, qdate asc) rn, b.*, m.email 
				from board_qna b join member m on b.midx=m.midx)
				<![CDATA[
				where rn > #{start} and rn < #{end}
				]]>
	</select>
	
	<select id="getQNACount" parameterType="BoardPaging" resultType="int">
		select count(qidx) from board_qna
	</select>
	
	<delete id="deleteQNA" parameterType="int">
		delete from board_qna where qidx=#{value}
	</delete>
	
	<delete id="deleteQNARe" parameterType="int">
		delete from re_board_qna where re_qidx=#{value}
	</delete>
</mapper>