@charset "UTF-8"; 

@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

100
%
{
opacity
:
1
}
}
@
keyframes fadeIn { 0%{
	opacity: 0
}

100
%
{
opacity
:
1
}
}
@
-webkit-keyframes fadeOut { 0%{
	opacity: 1
}

100
%
{
opacity
:
0
}
}
@
keyframes fadeOut { 0%{
	opacity: 1
}

100
%
{
opacity
:
0
}
}
@
-webkit-keyframes roundAll { 0%{
	transform: rotate(0)
}

100
%
{
transform
:
rotate(
360deg
)
}
}
@
keyframes roundAll { 0%{
	transform: rotate(0)
}

100
%
{
transform
:
rotate(
360deg
)
}
}
@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: Musinsa;
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.svg#MusinsaLight)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: Musinsa;
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.svg#MusinsaRegular)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: Musinsa;
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.svg#musinsaot-Bold)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: "Musinsa Stencil";
	src: url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.svg#MusinsaLightStencil)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: "Musinsa Stencil";
	src: url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.svg#MusinsaRegularStencil)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: "Musinsa Italic";
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.svg#musinsait-Light)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: "Musinsa Italic";
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.svg#musinsait-Medium)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Musinsa Italic";
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.svg#musinsait-Bold)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: "Musinsa Round";
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.svg#musinsard-Medium)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Musinsa Round";
	src: url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.svg#musinsard-Bold)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Noto Sans KR";
	src: url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.svg#NotoSans-Regular)
		format("svg")
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Noto Sans KR";
	src: url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.eot);
	src: local("☺"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.eot?#iefix)
		format("embedded-opentype"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.woff2)
		format("woff2"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.woff)
		format("woff"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.ttf)
		format("truetype"),
		url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.svg#NotoSans-Bold)
		format("svg")
}

.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0)
}

body.fixed {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	left: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

a, blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure,
	form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, input, li, ol, p,
	pre, select, small, span, table, td, textarea, th, ul {
	margin: 0;
	padding: 0
}

body, html {
	height: 100%
}

body {
	font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	color: #000
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit
}

ol, ul {
	list-style: none
}

fieldset {
	border: 0 solid transparent
}

img {
	border: none;
	line-height: 0;
	vertical-align: top
}

table {
	border-collapse: collapse
}

table, td, th {
	border-spacing: 0
}

input, select, textarea {
	border: 0;
	border-radius: 0;
	font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	color: #000;
	vertical-align: middle
}

caption {
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

button {
	border: 0;
	background: 0 0;
	font-size: inherit;
	font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	line-height: 1.5;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

em {
	font-style: normal
}

a {
	color: inherit;
	text-decoration: none
}

.faq-contents {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #ddd
}

.faq-contents-block-space--4 {
	padding-top: 4px
}

.faq-contents-block-space--8 {
	padding-top: 8px
}

.faq-contents-block-space--12 {
	padding-top: 12px
}

.faq-contents-block-space--16 {
	padding-top: 16px
}

.faq-contents-block-space--20 {
	padding-top: 20px
}

.faq-contents-block-space--24 {
	padding-top: 24px
}

.faq-contents-block-space--28 {
	padding-top: 28px
}

.faq-contents-block-space--32 {
	padding-top: 32px
}

.faq-contents-block-space--36 {
	padding-top: 36px
}

.faq-contents-block-space--40 {
	padding-top: 40px
}

.faq-contents-block-space--44 {
	padding-top: 44px
}

.faq-contents-block-space--48 {
	padding-top: 48px
}

.faq-contents-block-space--52 {
	padding-top: 52px
}

.faq-contents-block-space--56 {
	padding-top: 56px
}

.faq-contents-block-space--60 {
	padding-top: 60px
}

.faq-contents-block-space--64 {
	padding-top: 64px
}

.faq-contents-block-space--68 {
	padding-top: 68px
}

.faq-contents-block-space--72 {
	padding-top: 72px
}

.faq-contents-block-space--76 {
	padding-top: 76px
}

.faq-contents-block-space--80 {
	padding-top: 80px
}

.faq-contents-block-space--84 {
	padding-top: 84px
}

.faq-contents-block-space--88 {
	padding-top: 88px
}

.faq-contents-block-space--92 {
	padding-top: 92px
}

.faq-contents-block-space--96 {
	padding-top: 96px
}

.faq-contents-block-space--100 {
	padding-top: 100px
}

.CFaqTitle {
	display: flex;
	font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	align-items: center
}

.CFaqTitle__title {
	font-weight: 400;
	font-size: 20px
}

.CFaqTitle__subtitle {
	margin-left: 5px;
	font-weight: 400;
	font-size: 12px
}

.CFaqSearch {
	display: flex;
	width: 345px;
	height: 50px
}

.CFaqSearch__input {
	box-sizing: border-box;
	padding: 14px 36px 13px 10px;
	border: 1px solid #e5e5e5;
	font-size: 15px;
	flex: 1
}

.CFaqSearch__input:focus {
	outline: 0
}

.CFaqSearch__input::-moz-placeholder {
	color: #aaa
}

.CFaqSearch__input:-ms-input-placeholder {
	color: #aaa
}

.CFaqSearch__input::placeholder {
	color: #aaa
}

.CFaqSearch__button {
	width: 90px;
	height: 100%;
	background-color: #000;
	font-size: 14px;
	color: #fff
}

.CFaqNavgation {
	display: flex
}

.CFaqNavgation__button {
	font-weight: 500;
	font-size: 18px;
	font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	color: #e5e5e5
}

.CFaqNavgation__button--active {
	color: #000
}

.CFaqNavgation__button+.CFaqNavgation__button {
	margin-left: 20px
}

.CFaqCategory {
	display: flex
}

.CFaqCategory__button {
	padding: 6px 12px 5px 12px;
	border: 1px solid #f2f2f2;
	font-size: 14px;
	color: #b3b3b3
}

.CFaqCategory__button--active {
	border: 1px solid #000;
	color: #000
}

.CFaqCategory__button+.CFaqCategory__button {
	margin-left: 8px
}

.CFaqTableHeader {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #000;
	align-items: center;
	justify-content: center
}

.CFaqTableHeader__category {
	width: 160px;
	text-align: center
}

.CFaqTableHeader__title {
	text-align: center;
	flex: 1
}

.CFaqTableItem {
	width: 100%;
	border-bottom: 1px solid #f5f5f5
}

.CFaqTableItem:last-child {
	border: none
}

.CFaqTableItem__list {
	display: flex;
	box-sizing: border-box;
	height: 70px;
	cursor: pointer;
	align-items: center
}

.CFaqTableItem__category {
	width: 160px;
	font-size: 14px;
	text-align: center
}

.CFaqTableItem__question {
	padding: 0 10px;
	font-size: 14px;
	flex: 1
}

.CFaqTableItem__contents {
	padding: 24px 10px;
	font-size: 14px;
	color: #6e6e6e
}

.CFaqTableItem__contents-box {
	display: flex;
	overflow: hidden;
	height: 0;
	background-color: #f5f5f5
}

.CFaqTableItem--active .CFaqTableItem__contents-box {
	height: auto
}

.CFaqTableItem__contents img {
	max-width: 100%
}

.CFaqTableItem__answer {
	display: flex;
	width: 160px;
	font-size: 14px;
	color: #6e6e6e;
	align-items: center;
	justify-content: center
}